# OS
.DS_Store

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
myenv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp

# Rasa
backend/rasa/models/
backend/rasa/.rasa/
backend/rasa/logs/

# Data / runtime artifacts
data/
*.log
