/*Might have to update the gif background to be my own and high resolution*/

/* width of the viewport < 768px */
@media screen and (min-width: 767px) {
    #app-view {
      width: 100%;
      margin: auto;
    }
  }
  
  /*  768px <= width of the viewport < 1024px */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    #app-view {
      /* margin-left: 5%;
      margin-right: 5%; */
      width: 90%;
      margin: auto;
    }
  }
  /*width of the viewport >= 1024px */
  @media screen and (min-width: 1024px) {
    #app-view {
      width: 80%;
      /* margin-left: 10%; */
      margin: auto;
    }
  }
  
  .login-body {
      font-family: 'Roboto', sans-serif;
      background: url('/login_assets/space.gif') repeat fixed center;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-size: cover;
    }
  
  
    .login-body .login-container {
      background: rgb(53, 53, 53);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(239, 234, 234, 0.1);
      width: 300px;
      box-sizing: border-box;
    }
    
    .login-body .form-group {
      margin-bottom: 20px;
    }
    
    .login-body input[type="text"], .login-body input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    .login-body button {
      width: 100%;
      padding: 10px;
      background-color: #5aa896;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
    }
    