
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Jersey 20', sans-serif;
        margin: 0;
        background-color: #1a1a1a; 
        color: #FFFFFF;
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    }

    header, footer {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }

    #app {
        flex: 1;
    }

    header nav {
        background-color: #242424;
        color: #FFFFFF;
        padding: 1em;
        text-align: center;
    }
    
    .nav-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        font-size: 1.1em;
    }
    
    .nav-menu .menu-item {
        position: relative;
    }
    
    .nav-menu a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
        display: block;
        padding: 0.25em;
    }
    
    .nav-menu a:hover {
        background-color: #bec9be;
    }
    
    .nav-menu .submenu {
        display: none;
        position: absolute;
        background-color: #242424;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
        z-index: 1000;
    }
    
    .nav-menu .submenu li {
        width: 100%;
    }
    
    .nav-menu .submenu a {
        padding: 0.8em;
        border-bottom: 1px solid #333;
    }
    
    .nav-menu .submenu a:hover {
        background-color: #bec9be;
    }
    
    .nav-menu .menu-item:hover .submenu {
        display: block;
    }
    
    .submenu, .mobile-submenu {
        display: none; 
    }
        
    .content-container {
        padding: 2em;
        text-align: center;
        max-width: fit-content;
        margin: auto;
        width: 100%;
    }
    
    .content-container h1 {
        font-size: 3.5em;
        color: #FFA500;
    }
    
    .content-container p {
        color: #FFFFFF;
        font-size: 1.5em;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    
    .content-container a {
        color: #87CEFA;
        text-decoration: none;
        font-weight: bold;
        display: block;
        margin-top: 20px;
        font-size: 2em;
    }
    
    .content-container a:hover {
        text-decoration: underline;
    }
    
    .media-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    
    .video-container, .images-container {
        flex: 1;
        margin: 0 10px;
    }
    
    .video-container video, .images-container img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    .menu-icon {
        display: none; 
        position: fixed;
        bottom: 9.8px;
        right: 30px;
        cursor: pointer;
        z-index: 1002;
    }
    
    .menu-icon div {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .mobile-menu {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        overflow: scroll;
        padding: 20px;
    }
    
    .mobile-nav-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .mobile-nav-menu li {
        margin: 20px 10px;
        list-style: none;
    }
    
    .mobile-nav-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 2em;
    }
    
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 100%; 
        width: 25%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
    footer {
        background-color: #242424;
        color: #ffffff;
        padding: 5px 0;
        text-align: center;
        width: 100%;
        margin: 0; 
        left: 0; 
        bottom: 0; 
        z-index: 1000;
        position: relative;
    }
    
    .footer-bottom {
        background-color: #242424;
        padding: 10px 0;
        font-family: 'Jersey 20', sans-serif;
        font-size: 1.4em;
        margin: 0; 
    }
    a, span.toggle-link {
        text-decoration: none;
        color: #fff;
        font-family: "Jersey 20", sans-serif;
        transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
        cursor: pointer; 
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
    
    .mobile-nav-menu a:focus, .mobile-nav-menu span.toggle-link:focus {
        outline: none; 
    }
    
    .mobile-nav-menu a, .mobile-nav-menu span.toggle-link {
        text-decoration: none;
        color: #fff;
        font-size: 7vw; 
        max-width: 70vw; 
        display: block; 
        word-wrap: break-word; 
        cursor: pointer;
        outline: none;
        -webkit-tap-highlight-color: transparent; 
    }
    
    /* Mobile Media */
    @media (max-width: 768px) {
        header {
            display: none; 
        }
    
        .menu-icon {
            display: block;
        }
    
        .submenu {
            position: static; 
            box-shadow: none; 
            width: 100%; 
            height: auto; 
            padding: 10px 0; 
        }
    
        .submenu li {
            display: block; 
            margin: 5px 0; 
        }
    
        .submenu a {
            padding: 5px 10px; 
            font-size: 0.7em; 
        }
    
        .content-container {
            font-size: 1.3em;
        }
    
        .content-container h1 {
            font-size: 2em;
        }
    
        .content-container p {
            font-size: 1em;
        }
    
        .content-container a {
            font-size: 1.3em;
        }
    
        .media-container {
            flex-direction: column;
        }
    
        .video-container, .images-container {
            margin: 10px 0;
        }
    
        #app {
            flex: 1;
        }

        footer {
            position: relative;
        }
        .footer-bottom{
            padding: 20px 0;
        }
    
        .mobile-nav-menu a, .mobile-nav-menu span.toggle-link {
            font-size: 7vw; 
            max-width: 70vw; 
            word-wrap: break-word;
            outline: none;
            -webkit-tap-highlight-color: transparent;
        }
    
        .mobile-nav-menu a:focus, .mobile-nav-menu span.toggle-link:focus {
            outline: none; 
        }
    
    }
    
    @media (max-width: 430px) {
        .content-container {
            font-size: 1em;
        }
    
        .content-container h1 {
            font-size: 1.9em;
        }
    
        .content-container p {
            font-size: 0.9em;
        }
    
        .content-container a {
            font-size: 1.2em;
        }
    
        .mobile-nav-menu a, .mobile-nav-menu span.toggle-link {
            font-size: 7vw;
            max-width: 70vw;
            word-wrap: break-word;
            outline: none;
            -webkit-tap-highlight-color: transparent;
        } 
        
        .menu-icon div {
            width: 30px;
            height: 3px;
            background-color: #fff;
            margin: 6px 0;
            transition: 0.4s;
        }
    }
    
    @media (max-height: 800px) {
        .content-container {
            font-size: 1.1em;
        }
    
        .content-container h1 {
            font-size: 1.9em;
        }
    
        .content-container p {
            font-size: 0.95em;
        }
    
        .content-container a {
            font-size: 1.2em;
        }
    
        .mobile-menu {
            overflow-y: auto;
            padding-bottom: 60px; 
        }
    
        .mobile-nav-menu a, .mobile-nav-menu span.toggle-link {
            font-size: 5.39vw; 
            max-width: 70vw; 
            word-wrap: break-word; 
            outline: none;
            -webkit-tap-highlight-color: transparent;
        }
    
        .footer-bottom {
            padding: 10px 0;
        }
    
        .menu-icon {
            display: block;
            bottom: 13px;
        }
    
        .menu-icon div {
            width: 30px;
            height: 3px;
            background-color: #fff;
            margin: 6px 0;
            transition: 0.4s;
        }
    }
    
